{% extends 'layout.html' %}
{% block content %}
{#    <form action="" method="post">#}
{#        {{ form.hidden_tag() }}#}
{##}
{#        <div class="form-group">#}
{#            {{ form.filter.label }}<br>#}
{#            {{ form.filter }}<br>#}
{#            {% for error in form.filter.errors %}#}
{#                <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <div class="form-group">#}
{#            {{ form.search(class="btn btn-outline-info") }}#}
{#        </div>#}
{#    </form>#}
    <h1>List of all articles</h1>
    <hr>
    {% if news_data_dict |length==0 %}
        <p>No Articles</p>
    {% endif %}


    <div class="all_articles">
        {% for article in news_data_dict %}
            <div>
                <h2>{{ news_data_dict[article]["data"].news_heading }}</h2>
                <p>{{ news_data_dict[article]["data"].news_info }}</p>
                {% for article_img in news_data_dict[article]["images"] %}
                    <img class="news-images" src="{{ article_img }}" alt=" img">
                {% endfor %}
                <p style="margin-top:5px;">Category: {{ news_data_dict[article]["data"].categorytype.category }}</p>
                <p>Checked: {{ news_data_dict[article]["data"].checked }}</p>
                {% if news_data_dict[article]["data"].checked == True %}
                    <p>Approved: {{ news_data_dict[article]["data"].is_approved }}</p>
                {% endif %}

                <div style="color:grey;">{{ news_data_dict[article]["data"].news_date.date() }}
                    <p>Article by
                        <a href="{{ url_for('show_articles_by_journalist', journalist_id=news_data_dict[article]['author_id'], user_id=current_user.id) }}">{{ news_data_dict[article]['author_first_name'] }} {{ news_data_dict[article]['author_last_name'] }}</a>
                    </p>

                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
    {% for page_num in news_obj.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if news_obj.page == page_num %}
                <a class="btn btn-info mb-4"
                   href="{{ url_for('show_all_articles', page=page_num, user_id=current_user.id, news_id=news_id) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4"
                   href="{{ url_for('show_all_articles', page=page_num, user_id=current_user.id, news_id=news_id) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}